<style>
    .donateText{
        font-family: 'Montserrat', sans-serif;
    }
</style>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Donation Page</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h3 class = "donateText">These are just a few nonprofits helping to fight the global pandemic.</h3>
        <div class="buttons">
            <button class="btn btn-lg btn-outline-primary" (click)="goToPage('https://www.feedingamerica.org/')">Feeding
                America</button>
        </div>
        <div class="buttons">
            <button class="btn btn-lg btn-outline-primary"
                (click)="goToPage('https://www.doctorswithoutborders.org/')">Doctors Without Borders</button>
        </div>
        <div class="buttons">
            <button class="btn btn-lg btn-outline-primary"
                (click)="goToPage('https://www.who.int/emergencies/diseases/novel-coronavirus-2019/donate')">The World
                Health Orginization</button>
        </div>
    </div>
</ng-template>

<div class="donateHolder">
    <div class="donateText">
        <h3>During this crisis many have turned a blind eye to the true heroes of the world. These people include
            nurses, doctors, and anyone that is sacrificing their own health to continue to push the needs of the general
            population. Below are some links to a few organizations that are dedicated to helping those who have done everything
            to help us.</h3>
        <hr />
        <button class="btn btn-lg btn-outline-primary" id="modalButton" (click)="open(content)">Donate</button>
    </div>
</div>

<hr>